@model _23DH113104_MyStore.Models.Product


<head>
    <style>
        img {
            height: 100px;
            max-width: 100px;
        }
    </style>
</head>

<div class="container-fluid">
    <div class="dl-horizontal">
        <div class="col-md-3">
            <img src="@Html.DisplayFor(model => model.ProductImage)" />
        </div>
        <div class="col-md-8">
            <dl>
                <dt>
                    Tên sản phẩm
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ProductName)
                </dd>

                <dt>
                    Đơn giá
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ProductPrice)
                </dd>
                <dt>
                    Mô tả
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ProductDescription)
                </dd>

                <dt>
                    Danh mục
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Category.CategoryName)
                </dd>
                </dl>
                </div>
</div>
    </div>
